<div class="cadre">
  <div class="app_btn_container center">
    <button (click)="opChoices('creation')" mat-button color="primary">Opérateurs de création</button>
    <button (click)="opChoices('creation_jointures')" mat-button color="primary">Opérateurs de création de jointures
    </button>
    <button (click)="opChoices('transformation')" mat-button color="primary">Opérateurs de transformation</button>
    <button (click)="opChoices('filtrage')" mat-button color="primary">Opérateurs de filtrage</button>
    <button (click)="opChoices('jointure')" mat-button color="primary">Opérateurs de jointure</button>
    <button (click)="opChoices('multicasting')" mat-button color="primary">Opérateurs de multicasting</button>
    <button (click)="opChoices('erreurs')" mat-button color="primary">Opérateurs de gestion des erreurs</button>
    <button (click)="opChoices('utilitaires')" mat-button color="primary">Opérateurs utilitaires</button>
    <button (click)="opChoices('mathematiques')" mat-button color="primary">Opérateurs mathématiques et agrégation
    </button>
  </div>
</div>
