
<div class="cadre">
  <h1 class="center">Rxjs: Les différents opérateurs</h1>
  <div class="center">
    <button mat-button color="primary">Opérateurs de création</button>
    <button mat-button color="primary">Opérateurs de création de jointures</button>
    <button mat-button color="primary">Opérateurs de transformation</button>
    <button mat-button color="primary">Opérateurs de filtrage</button>
    <button mat-button color="primary">Opérateurs de jointure</button>
    <button mat-button color="primary">Opérateurs de multicasting</button>
    <button mat-button color="primary">Opérateurs de gestion des erreurs</button>
    <button mat-button color="primary">Opérateurs utilitaires</button>
    <button mat-button color="primary">Opérateurs mathématiques et agrégation</button>
  </div>
</div>
