html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.cadre {
  margin: 2%;
}

.app_btn_container {
  display: flex;
  flex-direction: column;
}

.app_btn_container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
}
